@use "../../global" as *;

.list-item {
   @include flex-container(flex-start, center);
   margin-bottom: 4vh;

   &:hover {
      .dash {
         transform: rotate(90deg) translateX(-10rem) translateY(-5rem);
         border-bottom: 1rem solid black;
         margin: 0 15rem 0 0;
      }

      h3 {
         color: $siteYellow;

         &:first-child {
            transform: translateX(-5rem);
         }
      }
   }

   .number {
      min-width: 1.6vw;
   }

   h3 {
      font-weight: 300;
      font-size: calc(max(1.6vw, 22rem));
      letter-spacing: -1rem;
      transition: all 0.3s ease-in;
   }

   .dash {
      margin: 0 10rem 0 5rem;
      width: 22rem;
      border-bottom: 1rem solid $siteYellow;
      transition: all 0.3s ease-in;
      transform-origin: bottom left;
   }
}

@media only screen and (max-width: 1024px) {
   .list-item {
      h3 {
         font-size: calc(max(3.2vw, 14rem));
      }
   }
}
