// --- Mixins ---

@mixin flex-container($justify, $align, $direction: row) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
   flex-direction: $direction;
}

// --- Variables ---

$siteYellow: #ebd301;
$medium-gray: #1e1e1e;
$dark-gray: #1b1b1b;
$light-gray: #a4a4a4;

$description-gray: #494949;
